extends typescript

snippet uses "useState"
	const [$1, set${1/.*/\u\0/g}] = useState<${2:null}>(${0:null})

snippet usee "useEffect"
	useEffect(() => {
		$1
	}, [$0])

snippet user "useRef"
	const ${1:ref} = useRef(${0:null})
