snippet if "If case"
	if ($1) {
		$0
	}

snippet elif "Else-if case"
	else if ($1) {
		$0
	}

snippet el "Else case"
	else {
		$0
	}

snippet m "Method"
  ${1:private} ${2:void} ${3:Name}(${4}) {
		$0
	}}

snippet lg "Print"
	System.out.println($0);
